h1{
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: none;
    text-align: left;
    padding: 10px;
  }

  tr:nth-child(even) {
    background: wheat;
  }

  .yes{
    background-color: green;
  }

  .no{
    background-color: red;
  }

  .other{
    background-color: royalblue;
  }

  .group_label_input {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .group_label_input > :first-child {
    width: 45%;
    text-align: right;
    margin-right: 4px;
  }

  h2{
    text-align: center;
  }
  .messages {
    color: red;
    text-align: center;
  }
